@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef6f9;
  --foreground: #333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Arial', sans-serif;
}
